* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    background: #000000;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: larger;
    background: #5A3825;
}

.logo {
    width: 350px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}

.hamburger-icon {
    display: block;
    margin-left: 20px;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.menu {
    display: none;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 650;
    transition: 0.3s;
}

.menu a:hover {
    transform: translateY(-5px);
}

.img-topo {
    width: 500px;
    height: 350px;
    object-fit: cover;
}

.logo-bola {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 400px;
    margin-left: 145px;
}

h1 {
    color: #DFC05C;
    text-align: center;
    margin-top: 230px;
}

.resumo-inicio {
    margin-bottom: 40px;
    color: #DFC05C;
    text-align: center;
    padding: 35px 40px;
    font-size: 22px;
}

.imagem-produto1 {
    position: relative;
    width: 100%;
    text-align: center;
}

.imagem-produto1 img {
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
    border-radius: 0;
}

.imagem-produto2 {
    position: relative;
    width: 100%;
    text-align: center;
}

.imagem-produto2 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0;
}

.texto-imagem {
    position: absolute;
    color: #000;
    background: #ffc800b3;
    font-size: 18px;
    font-weight: 800;
    padding: 15px;
    border-radius: 20px;
    max-width: 75%;
    line-height: 1.4;
}


.caixa1 {
    top: 35px;
    left: 10px;
}

.caixa2 {
    bottom: 35px;
    right: 10px;
}

.resumo-final {

    color: #DFC05C;
    text-align: center;
    padding: 50px 80px;
    font-size: 22px;
}

.mercado {
    color: #8F8F8F;
    text-align: center;
    padding: 35px 35px;
    font-size: 18px;
}

table {
    width: 100%;
    padding: 15px 20px;
}

.corte {
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #DFC05C;
}

.numero {
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 400;
    color: #8F8F8F;
}


button {
    display: flex;
    justify-self: center;
    margin-top: 40px;
    background-color: #5A3825;
    color: #DFC05C;
    border: 3px solid #DFC05C;
    border-radius: 25px;
    padding: 12px 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #DFC05C;
    color: #5A3825;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

input,
textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
    color: #ffffff;
    padding: 15px 0;
    font-size: 20px;
    outline: none;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

::placeholder {
    color: #999;
    text-align: center;
    font-weight: 600;
}

footer {
    background-color: #5a3825;
    text-align: center;
    margin-top: 100px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 250px;
    margin-bottom: 25px;
}

footer p {
    color: #000000;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.redes {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.redes img {
    width: 45px;
    height: 45px;
    transition: transform 0.3s ease;
}

.redes img:hover {
    transform: scale(1.1);
}